* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(to right, #FF6B6B, #556270);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF6B6B, #556270);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    line-height: 1.6;






}

section .content {
    position: absolute;

}

section .content h2 {
    color: #fff;
    font-size: 5vmax;
    font-weight: 1000;
    text-align: center;
}

section .content p {
    max-width: 1000px;
}

#myName {
    font-size: 6.8vmax;
}

section .menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    /* fallback for old browsers */



    transition: height 0.5s ease-in;
}

section .menu a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    transition: color 0.5s ease-in;
}

section .menu a:hover {
    color: #1dcdfe;
}

.menu .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .menu a:not(:first-child) {
        display: none;
    }

    .menu a.icon {
        float: right;
        display: block;
    }

    .icon {
        position: fixed;
        top: 0;
        right: 0;
        padding: 15px !important;
    }
}

@media screen and (max-width: 600px) {
    .menuresponsive {
        position: fixed;
        right: 0;
        top: 0;
        overflow: hidden;
        width: 100%;
        height: 180px;
        z-index: 1;
        /* fallback for old browsers */



        padding: 7px;
        transition: height 0.5s ease-in;
    }

    .menuresponsive a {
        display: block;
        padding: 7px;
        text-decoration: none;
        color: white;
        font-size: 20px;
        transition: color 0.5s ease-in;
    }

    .menuresponsive a:hover {
        color: #1dcdfe;
    }
}

section .content .buttonToAbout {
    color: white;
    background-color: transparent;
    display: block;
    border-style: solid;
    border-color: white;
    text-align: center;
    max-width: 300px;
    font-size: 5vh;
    padding: 1vh;
    margin: auto;
    margin-top: 70px;
    position: relative;
    transition: 0.5s ease-in-out;
    border-radius: 25px;
    text-decoration: none;

}

section .content .buttonToAbout a {
    color: white;
    text-decoration: none;
}

section .content .buttonToAbout:hover {
    background-color: #1dcdfe;
    border-color: #1dcdfe;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 100px;
    height: 100vh;

}

.about h1 {
    color: white;
    font-size: 4vmax;
    font-weight: 800;
}

.aboutText {
    max-width: 1300px;
    padding: 5vh 10vw 10vh 10vw;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.6;
    font-size: 1em;
    font-weight: 600;
}

.LargerText {
    font-size: 2em;
    padding: 0px 5px 0px 10px;
    opacity: 1;
    color: rgba(255, 255, 255, 1);
}

.Education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 200px;
    height: 100vh;
}

.Education h1 {
    font-size: 4vmax;
    color: white;

}

.award {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 100px;
    height: 100vh;
}

.award h1 {
    font-size: 4vmax;
    color: white;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 100px;
    color: white;
}
.links a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    color: white;
    width: fit-content+100px;

}

.scores table,td,tr{
    border: 3px solid white;
    color: white;
    padding: 10px
    
}
.scores td{
    padding-left: 5px;
}











/* 
    Education button but so buggy decided to remove and use scroll instead;
.buttonToEducation {
    color: white;
    background-color: transparent;
    display: block;
    border-style: solid;
    border-color: white;
    text-align: center;
    max-width: 200px;
    font-size: 5vh;
    padding: 1vh;
    margin: auto;
    margin-top: 70px;
    position: relative;
    transition: 0.5s ease-in-out;
    border-radius: 25px;
}

.buttonToEducation a {
    color: white;
    text-decoration: none;
}

.buttonToEducation:hover {
    background-color: #1dcdfe;
    border-color: #1dcdfe;
}

*/